@import './reset';
@import './break_point';

@import './utilities';
@import './component';
@import './text';
@import './custom';
@import './custom_responsive';

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  color: grey;

  background:
    linear-gradient(to top,
      rgba(43, 43, 44, 0.9),
      rgba(216, 208, 208, 0.7),
      rgba(34, 33, 33, 0.8)),
    url(../images/battle_ship_game.jpg) center center no-repeat fixed;
  background-size: cover;
}